[mysqld]

#emplacement des fichiers de donnees MariaDB
datadir = /var/lib/mysql

#canal de com entre le client et le server MariaBD
socket = /run/mysqld/mysqld.sock

#le serveur peut accepter les connections venant de n'importe quelle adresse IP
bind_address=*

port = 3306
user = mysql
